*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
}

/*Navbar Start*/
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border-bottom: 1px solid #c5e5e5;
    box-shadow: 0 0.25rem 0 rgb(0 0 0 / 5%)
}

.nav a{
    color: #212530;
    text-decoration: none;
    font-size: 1.6rem;

}
.nav .nav-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .nav-link a{
    margin-left: 1.5rem;
    margin-top: .4rem;
    font-size: 1.2rem;
}

.nav .nav-link a:hover{
    text-decoration: underline;
}

.nav .nav-link .btn {
    border: 1px solid blue;
    padding: .3rem 1rem;
    color: blue;
}
.nav .nav-link .btn:hover {
    border: 1px solid blue;
    background-color: #007BFF;
    padding: .3rem 1rem;
    color: white;
}

/*Navbar End*/




/*Home Page Start*/

.home {
    padding-top: 2rem;
    text-align: center;
}

.home h2{
    font-size: 3rem;
}

.home p{
    padding: 0 12rem;
    font-size: 1.4rem;
}
/*Home Page End*/


/*Card Page Start*/


.cards{
    display: flex;
}

.cards .card{
    width: 100%;
    margin-left: 2rem;
}
.cards .card .card-header{
   text-align: center;

}

.cards .card .card-body{
   text-align: center;
}
.cards .card .card-body h1{
    font-size: 3rem;
}

.cards .card .card-body small{
    font-size: 1.7rem;
}

.cards .card .card-body ul{
    font-size: 1rem;
    list-style: none;
}

.cards .card .card-body ul{
    border: none;
}

.cards .card .card-body .button{
    width: 100%;
    padding: 0 1rem;
    padding-top: 1rem;
}
.cards .card .card-body button{
    width: 100%;
    border-radius: 10px;
    display: block;
    padding: .5rem 0rem;
    outline: none;
    font-size: 1.5rem;
    border: 1px solid #007BFF;
    background-color: white;
    color: #007BFF;
    transition: .1s linear;
}

.cards .card .card-body button:hover{
    background-color: #007BFF;
    color: white;
}

.cards .card .card-body .button2{
    width: 100%;
    padding: 0 1rem;
    padding-top: 1rem;

}
.cards .card .card-body .button2 button{

    width: 100%;
    border-radius: 10px;
    display: block;
    padding: .5rem 0rem;
    outline: none;
    font-size: 1.5rem;
    border: 1px solid #007BFF;
    background-color: #007BFF;
    color: white;
    transition: .1s linear;
}

.cards .card .card-body button:hover{
    background-color: #0a4d8d;
    color: white;
}


/*Card Page Start*/



/*Footer Page Start*/


footer{
    display: flex;
    padding-bottom: 2rem;
}

footer .footer-col{
    width: 25%;
}
footer .footer-col p{
    color: #6C757D;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    cursor: pointer;
}

footer .footer-col p:hover{
    text-decoration: underline;
    
}

footer .footer-col img{
    width: 2rem;
    padding-bottom: 1rem;
}

/*Card Page End*/





/*Card Page End*/















