*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
}


.navbar{
  padding: 1rem 1rem;
  border-bottom: 1px solid #c5e5e5;
  box-shadow: 0 0.25rem 0 rgb(0 0 0 / 5%);
  background-color: #212529;
  color: white;

  ul{
    list-style: none;

    li{
      margin-left: 2rem;
      padding-top: 0.5rem ;

      a{
        font-size: 1.5rem;
        text-decoration: navajowhite;
        color: gray;
      }

      a:nth-last-child{
        color: white;
      }
      a:hover{
        color: white;
      }
    }

  }
}


.home{
  height: 25rem;
  background-color: #F8F9FA;
  text-align: center;


  .main{
    width: 100%;
  }
}


.about{
   padding-top: 1rem;

  .card-section{
    padding: 0.5rem;
    width: 65%;

    .card-header{
      border: 2px solid #DEE1E6;

      img{
        width: 100%;
      }
    }
    .card-body{
      border: 2px solid #DEE1E6;
      padding: 0.9rem;

      p:first-child{
        margin: 0;
        color: gray;
        font-size: 1rem;
      }

      p{
        font-size: 1rem;
      }

      button{
        font-size: 1rem;
      }


    }

    .mini-cards{

      .minicard-1{
        width: 48%;
      }
      .minicard-2{
        width: 48%;
      }

      button{
        font-size: 1rem;
      }

    }

  .pagination{
    display: flex;
    align-items: center;
    text-align: center;

    li:last-child{
      color: grey;
    }

  }

  }


  .regist-section{
     width: 35%;

    .card{
      border: none;
      padding: 0.5rem;

      h6{
        margin-top: .4rem;
      }

      .card-header{
        border: 2px solid #DEE1E6;
      }

      .card-body{
        border: 2px solid #DEE1E6;
        border-top: none;
      }


    }



  }



}


footer{
  background-color: #212529;
  color: white;
}